title {
    flex-wrap: wrap;
    font-size: large;
    background-color: aquamarine;
    color: black;
    padding: 2em;
    text-align: center;
    }
body {
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
header {
    flex-wrap: wrap;
    background-color: rgb(127, 240, 255);
    color: black;
    text-align: center;
    padding: 1em;
}
h2 {
    flex-wrap: wrap;
    color: black;
    text-align: center;
    margin-top: 2em;
    background-color: rgb(173, 223, 230);
}
nav {
    background-color: aquamarine;
    padding: 1em;
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: auto;
    display: inline;
    margin-right: 0.5em;
}
p {
    flex-wrap: wrap;
    font-size: medium;
    color: black;
    background-color: rgb(173, 228, 230);
    padding: 1em;
}
.academy-image {
    flex-grow: var(--image-ratio);
    display: block;
    margin: 2em auto;
    max-width: 100%;
    height: auto;
}
footer {
    flex-wrap: wrap;
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    position: relative; 
}  
table.html-table {
    flex-wrap: wrap;
    flex-grow: var(--image-ratio);
    width: 50%;
    margin: 2em auto;
    border-collapse: collapse;
}
table, th, td {
    flex-wrap: wrap;
    border: 1em solid black;
}
th, td { 
    flex-wrap: wrap;
    padding: 0.5em;
    text-align: center;
} 



